body{
 color:white;
 margin: 0px 0px 0px 0px;
}
h1,h2,h3,h4{
	margin: 0px 0px 0px 0px;
}
h3{
	margin-top:10px;
}

.game-title{
	padding:10px;
	background:black;
}
.name{
	background:grey;
}
.characterBox{
	width:100%;
	height:140px;
	border: 3px solid black;
}

.fighterBox{
	width: 100%;
    height: 200px;
    margin: 90px 0px 0px 110px;
    position:absolute;
}

.pick{
	margin-top: 60px;
    margin-left: 0px;
    background-color: grey;
    width: 22%;
}

#vs{
	width: 80%;
    height: 110px;
    margin: 75px 13px 0px 133px;
    
}

.resetBox{
	width:0px;
	height:0px;
	padding:0px;
	border:0px;
	background-color:none;
}
.box{
	float:left;
	width:25%;
	height:180px;
}

.no-float{
	clear:both;
}

.fighterPit{
	margin:45px 0px 0px 0px;
}

.you-win{
	width:150%;
	height:400px;
}
.fightingBG{
	width:100%;
	height:800px;
	margin:0px 0px 0px 0px;
	position:absolute;
	top:0;
	left:0;
    z-index: -1;
}


.instruction-box{
	clear:both;
	background-color: grey;
	width:22%;
	height:100px;
	margin: 27px 0px 0px 0px;
}

.instruction-header{
	padding:10px;
	text-align:center;
}
#playeroneTitle{
	margin: 0px -200px 0px 0px;
	color:black;
	text-align:center;
	background:grey;
}

#playertwoTitle{
	margin: 0px -230px 0px 0px;
	color:black;
	background:grey;
	text-align:center;
}
.attack{
	margin: 0px 0px 0px 0px;
	background-color:red;
}
.gameover{
	margin: 0px 0px 0px 0px;
	height:900px;
	width:700px;
}